body {
  font-family: Playfair display;
}

* {
  box-sizing: border-box;
}

/** HEADER **/

#header-nav {
  background-color: white;
  margin: 0;
}
#logo-img{
  background: url('../images/logo.png') no-repeat;
  width: 120px;
  height: 120px;
  background-size: 8em;
  margin: 10px 15px 0px 0;
  cursor: pointer;
}
.navbar-brand {
  padding-top: 25px;

}
.navbar-brand h1 { /* name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Description */
  color: black;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

#nav-list li {  /*login button for large screen*/
  display: inline-block;
  margin-top: 50px;
}
#nav-list a {
  color: white;
  background: #F97C19;
  list-style: none;
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#nav-list a:hover {
  background: black;
}

#login-btn > a { /*login button for phone screen*/
  font-size: 1.2em;
  display: block;
  margin: 0 0px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #F97C19;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

#login-btn a:hover {
  background: black;
}
/* END HEADER */

/* BANNER */
.banner-image{
  background:url('../images/banner.jpg') no-repeat; 
  height: 450px; 
  background-size: cover;
}
.banner-color{
  background-color:#F97C19; 
  height: 450px;
}
.banner-color p{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em
}
.banner-links{
  list-style: none;
}
.banner-links a{
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: black;
  padding: 15px 100px;
}
.banner-links a:hover{

  border-color: black;
  border-style: solid;
}
#register {
  position: absolute;
  right: 0;
}
#about{
  position: absolute;
  left: 0;
}
.banner-links li {
  margin:350px 0px 0 0;
}

.banner-links-xs a {
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: black;
  padding: 10px 50px;
  margin:350px 0px 0 0;

}

.banner-links-xs a:hover{
  border-color: black;
  border-style: solid;
}
#about-btn > a {
  position: absolute;
  left: 0;
}
#register-btn > a {
  position: absolute;
  right: 0;
}
/* END OF BANNER */

/* Apie mus */

#title > h1{
  font-style: italic;
  padding: 40px;
}

/*FOOTER*/

.panel-footer {

 margin: 120px 0px 0px 0px;
 background-color: lightgrey;
}

/*END OF FOOTER*/

/*LOGIN FORM*/

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;

}

.bg-modal-reg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
}

.bg-modal-reg .modal-content {
  width: 40%;
  height: 42%;

}

.bg-modal .modal-content {
  width: 40%;
  height: 40%;
  margin: 0;
}

.modal-content {

  text-align: center;
  margin: auto;
  padding: 50px;
  display: inline;
}


form {
  margin: 0px auto;
  
}

.form-inline {  
  display: flex;
  align-items: center;
}

.form-control {
  margin: 10px auto;
  width: 100%;
  border: 2px solid silver;
  outline: none;
  border-radius: 0;
}

.reg-button {
  width: 73.5%;
  height: 40px;
  position: absolute;
  bottom: 30px;
  right: 62px;
}
.log-button {
  width: 98.1%;
  height: 40px;
  
  
}

.text-center a {
  color: black;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

}

.text-center li {
  list-style: none;
  margin: 10px;
}


input {

  width: 100%;
  margin: 20px auto;
  border: 2px solid silver;
  outline: none;
}

h3{
  margin-top: 0px;
  margin-bottom: 25px;
}

/*BUTTONS*/
  
.btn-primary {
  background-color: black;

}
.btn-primary:hover {
  background-color: black;
}

.btn-primary:active:focus {
  background-color: black;
}

.btn{
  border-radius: 0;
}
.btn-danger {
  background-color:  #F97C19;
  border: none;
  margin: 5px;
}
.btn-danger:active {
  background-color:  #F97C19;
  border: none;
}
.btn-info {
  background-color:  black;
  border: none;
  margin: 5px;
}
.btn-danger:hover {
  background-color:  #f97e19b4;
  border: none;
}

.btn-info:hover {
  background-color:  rgba(0, 0, 0, 0.678);
}

/*END OF BUTTONS*/

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
}

.close-reg {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
}

/*END OF LOGIN FORM*/

/*pagination*/

.pagination ul li {
color: #F97C19;

}
#desc{
  height: 100px;
}